{% load static %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Proxy.net</title>
<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
</head>
<body>

  <div>
    <ul class="upperlinks">
      {% if user.is_authenticated %}
      <li><a href="/">Home</a></li>
      <li><a href="logout">Logout</a></li>
      {% else %}
      <li><a href="/">Home</a></li>
      <li><a href="login">Login or Signup</a></li>
      {% endif %}
    </ul>
  </div>

<div class="header">
  {% if user.is_authenticated %}
  <h3>Welcome {{user.username}}<br>to Proxy's Blog</h3>
  {% else %}
  <h2>Welcome to Proxy's Blog</h2>
  {% endif %}
</div>

<div class="row">
  <div class="leftcolumn">
    {% for post in post reversed %}
    <div class="card">
      <a style="text-decoration: none; color: black;" href="blog/{{post.Title}}">
        <h1><b>Title:</b> {{post.Title}}</h1>
        <h3><b>Date:</b> {{post.DateTime}}</h3>
        <p>{{post.Description}}</p>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

<!-- <div class="row">
  <div class="leftcolumn">
    <div class="card">
        <h1>{{posts.title}}</h1>
        <h5>posts.created_at</h5>
        <p>posts.body</p>
    </div>
  </div>
</div> -->

</body>
</html>
